.header-not-found {
    display: flex;
    align-items: flex-end;
}

.header-not-found span {
    font-size: 2em;
    font-weight: bold;
}

.header-not-found h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* Boton principal */
button.btn, a.btn, button.btn.default, a.btn.default {
    background-color: #D8D8D8;
    border: 1px solid #979797;
    border-radius: 3px;
    color: #4D4D4D;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    padding: 8px 10px;
    outline: none;
}

/* Boton de error, cancelar */
button.btn.error, a.btn.error, button.btn.cancel, a.btn.cancel {
    background-color: #A23939 !important;
    color: #ffffff !important;
}

/* Boton de Warning, Suspender.. */
button.btn.warning, a.btn.warning, button.btn.danger, a.btn.danger {
    background-color: #F3D562 !important;
    color: #4D4D4D !important;
}

/* Boton Principal, aceptar, siguiente */
button.btn.accept, a.btn.accept, button.btn.succes, a.btn.succes, button.btn.primary, a.btn.primary  {
    background-color: #3E6099 !important;
    color: #FFFFFF !important;
}
/* Conenedor del input y span */
div.content-input {
    display: flex;
    flex-direction: column;
}

/* Span, Placeholder */
div.content-input span {
    color: #4D4D4D;
    font-size: 16px;
}

/* Input, caja de entrada */
div.content-input input.text-input {
    background-color: #ffffff;
    border-radius: 5px;
    border: 2px solid #CCCCCC;
    padding: 8px;
    font-size: 18px;
    float: right;
    outline: none;
}

/* Input de flatpickr */
input.flatpickr-input{
    background-color: #ffffff;
    border-radius: 5px;
    border: 2px solid #CCCCCC;
    padding: 8px;
    font-size: 18px;
    float: right;
    outline: none;
}
#loader {
    animation: loader infinite 0.8s;
    border-radius: 50%;
    padding: 20px;
    border: 10px solid #2F3542;
    position: relative;
    /* border-top-color: #DEC126; */
    /* border-bottom-color: #DEC126; */
}

#loader::after {
    content: '';
    background-color: #DEC126;
    top: -10px;
    position: absolute;
    border-radius: 50%;
    height: 10px;
    width: 10px;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg)
    }
}
/* Contenedor completo del modal */
.container_modal {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    transition: all 0.3s ease;
    opacity: 0;
    z-index: 1000;
}

/* Contenedor de la caja info del modal */
.container_modal .container_items {
    background-color: #FFF;
    border-radius: 5px;
    flex-direction: column;
    height: 300;
    padding: 15;
    transition: all 2s ease;
    width: 90%;
}

/* Cabecera del modal */
.container_modal .container_items .container_header_modal {
    display: flex;
    flex-direction: row;
    width: 100%;
}

/* Título del modal */
.container_modal .container_items .container_header_modal .title_modal {
    color: #2F3542;
    font-size: 24px;
    width: 50%;
}

/* Contenedor del icono de cierre para el modal */
.container_modal .container_items .container_header_modal .container_icon {
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

.container_modal .container_items .container_header_modal .container_icon:hover {
    cursor: pointer;
}

/* Contenedor body del modal */
.container_modal .container_items .container_body_modal {
    text-align: left;
}
input.input-search {
    background-color: #ffffff;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNC42ODUiIGhlaWdodD0iMjQuNjgzIiB2aWV3Qm94PSIwIDAgMjQuNjg1IDI0LjY4MyI+CiAgPHBhdGggaWQ9IlNlYXJjaCIgZD0iTTIzLjIyNywyNC42ODNhMS40NjUsMS40NjUsMCwwLDEtMS4wNTUtLjQ1MkwxNS40MiwxNy40NzZsLS4wMDYsMGE5LjQ3Myw5LjQ3MywwLDAsMS01LjY3OSwxLjg3M0g5LjdBOS43MTUsOS43MTUsMCwwLDEsMi44LDIuODEyLDkuNjU1LDkuNjU1LDAsMCwxLDkuNTg2LDBoLjA0MmE5Ljc1NSw5Ljc1NSwwLDAsMSw5LjcsOS43MTIsOS41LDkuNSwwLDAsMS0xLjg1Miw1LjdsNi43NTgsNi43NmExLjQ1NywxLjQ1NywwLDAsMS0xLDIuNTEzWk05LjYsMS45MzZBNy43MTQsNy43MTQsMCwwLDAsNC4yMTUsMTUuMTI4YTcuNzU4LDcuNzU4LDAsMCwwLDUuNDc2LDIuMjloLjAzQTcuNzQxLDcuNzQxLDAsMCwwLDkuNjM0LDEuOTM2WiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCAwKSIgZmlsbD0iIzhlOGU5MyIvPgo8L3N2Zz4K);
    background-repeat: no-repeat;
    background-size: 8%;
    background-position-x: 2%;
    background-position-y: center;
    border-radius: 5px;
    border: 2px solid #CCCCCC;
    padding: 8px;
    font-size: 18px;
    outline: none;
    padding-left: 30px;
}
/* Contaner select */
.selection {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAAXNSR0IArs4c6QAAATFJREFUOBFjYBgFQy8EGGFOLigoMAKy+WB8ZPr///9/gPg7CDMzM38D0f/+/fsuLCz8raGh4Q9ILQtMA1DCjImJaTqMj0wzMjIygDAMgNhAAxk+fPiwESgWABJngkk+f/58NpB9BsYnRANd9fbv3785MHVwg1avXv0XaFMmUMFfmCQ+Gqi2ZPLkyU9gaphhDBB94sSJZ5aWlkJApgWyOBb2wQkTJhQgi8NdBBNkY2OrBbLfwPjoNNDFP4FhmYYujmFQV1fXZ6CiUnSFMD7QSx19fX23YHwYjWEQSALo7AVAm/fDFCHR54AB3I7EhzOxGgSVRQl4aCSkAgP4J1w3EgMlsJHEGU6ePPkWOeCBXpoMdOl8ZDXIbHwuYoAG/GOga578+vWrBlkjyWxg1gkAYUIaAe14c5wstEE1AAAAAElFTkSuQmCC);
    background-position: 100% center;
    background-repeat: no-repeat;
    border-bottom: 2px solid #CCC;
    cursor: pointer;
    transition: all 0.2s ease;
    padding: 10px 0px;
}

.selection:hover {
    border-color: #6d6d6d;
}

/* Configuracion de modal con todos los elementos */
.background-select {
    background-color: rgba(50, 50, 50, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    opacity: 0;
    transition: all 0.2s ease;
    width: 100vw;
    z-index: 200;
}

.background-select .content {
    color: #FFF;
    font-size: 1.5em;
    margin: auto;
}

.background-select .content .item {
    cursor: pointer;
    margin: 10px 0;
    transition: all 0.2s ease;
}

.background-select .content .item:hover {
    text-shadow: #2d2d2d 0px 0px 20px;
}
/* Cabecera de la tabla */
div.table .table_header {
    border-bottom: 3px solid #979797;
    color: #2F3542;
    display: flex;
    flex-direction: row;
    font-size: 28px;
    justify-content: space-between;
    padding: 10px;
}

/* Configuración por filas */
div.table .table_body .table_row {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

div.table .table_body .table_row:nth-child(odd) {
    background-color: rgba(50, 50, 50, 0.1);
}

/* Filas con background */
div.table .table_body .table_row.interline {
    background: #D8D8D8;
}
/* Diseño del elemento en generak */
div.toast-container {
    background-color: #514F4F;
    border-radius: 3px;
    position: fixed;
    opacity: 0;
    cursor: pointer;
    padding: 10px;
    transition: all 0.5s ease;
    right: 5%;
    top: 20%;
    box-shadow: rgba(50, 50, 50, 0.4) 0px 10px 20px 5px;
    z-index: 100;
}

/* Propiedades cuando se muestra */
div.toast-container.show {
    opacity: 1;
    top: 10%;
}

/* Ocultando el elemento */
div.toast-container.hidden {
    display: none !important;
}

div.toast-container h2 {
    color: #DEC126;
    font-weight: lighter;  
    margin-bottom: 5px;  
}

div.toast-container p {
    color: #D2D2D2;
    font-weight: normal;
    font-size: 16px;    
}
