/* Contenedor padre de todos los elementos */
div.container.consola {
    margin: 10px;
}

/* Contenedor de titulo principal y buscador */
div.container.consola div.container-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 4vw;
}

/* Contenedor Principal de los item */
div.container.consola div.container-body {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* Representante de cada elemento */
div.container.consola div.container-body a.container-body-grid {
    align-items: center;
    background: #FFF;
    border: #c8ccd6 1px solid;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-decoration: none;
    transition: all 0.2s ease;
    padding: 20px;
    margin: 20px 0;
    width: 25%;
}

/* Texto titulo de item */
div.container.consola div.container-body a.container-body-grid h2 {
    text-align: center;
}

/* Estilos de imagen representativa de item */
div.container.consola div.container-body a.container-body-grid img {
    margin: 10px 0;
    max-width: 40% !important;
}

/* Breve descripción de los item */
div.container.consola div.container-body a.container-body-grid p {
    font-size: 18px;
    text-align: center;
    max-width: 80%;
}