/* Contenedor principal de perfiles y permiso */
div.container.perfiles-permisos {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

/* Panel izquierdo */
div.container.perfiles-permisos aside.panel-perfiles {
    background-color: #D8D8D8;
    border-right: 1px solid #979797;
    height: 100%;
    overflow: hidden;
    width: 30%;
}

/* Container de la lista de perfiles */
div.container.perfiles-permisos aside.panel-perfiles h2 {
    margin: 20px;
}


/* Container de la lista de perfiles */
div.container.perfiles-permisos aside.panel-perfiles div.list {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

/* Item de los perfiles */
div.container.perfiles-permisos aside.panel-perfiles div.list div.item {
    transition: all 0.2s ease;
    cursor: pointer;
    font-size: 24px;
    padding: 20px;
}

div.container.perfiles-permisos aside.panel-perfiles div.list div.item.active {
    background-color: rgba(250, 250, 250, 0.2);
    text-shadow: #2d2d2d 0px 0px 3px 0px;
    transform: scale(1.1) translateX(15px);
}

div.container.perfiles-permisos aside.panel-perfiles div.list div.item:hover {
    /* background-color: rgba(250, 250, 250, 0.2); */
    transform: scale(1.1) translateX(15px);
}


/* Estilos generales para los dos contenedores */
div.container.perfiles-permisos div.container-permisos {
    padding: 20px;
    flex: 1;
}

/* Contenedor de las lista de permisos y ventanas */
div.container.perfiles-permisos div.container-permisos div.content-data {
    background-color: #FFFFFF;
    border: 1px solid #707070;
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 5vh;
    min-height: 400px;
    width: 100%;
}

/* Borde derecho de la columna izquierda */
div.container.perfiles-permisos div.container-permisos div.content-data div.col:first-child {
    border-right: 1px solid #707070;
}

/* Buscador de ventanas */
div.container.perfiles-permisos div.container-permisos div.content-data div.col input {
    margin: 20px;
    /* width: 100%; */
}

/* Estilos de item de cada ventana */
div.container.perfiles-permisos div.container-permisos div.content-data div.col div.list-window div.item-window {
    cursor: pointer;
    font-size: 18px;
    padding: 10px 20px;
}

div.container.perfiles-permisos div.container-permisos div.content-data div.col div.list-window div.item-window:hover {
    background-color: #E5E7EA;
}

div.container.perfiles-permisos div.container-permisos div.content-data div.col div.list-window div.item-window.active {
    background-color: #E5E7EA;
    cursor: default;
}