* {
    box-sizing: content-box;
    padding: 0px;
    margin: 0px;
    font-family: system-ui;
}

body {
    background-color: #ECF0F1;
    background-image: url('/static/img/robot.svg');
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: 105% 105%;
    overflow-x: hidden;
}

/* Color de los titulos, no agregar ninguna propiedad */
.color-titulo {
    color: #404a5f;
}

.color-subtitulo {
    color: #57606F;
}

/* Fin titulos */

/* Efectos de sombras generales */
.active-effect {
    transition: all 0.2s ease;
}

.active-effect:active {
    transition: all 0.2s ease;
    box-shadow: rgba(50, 50, 50, 0.2) 0px 0px 0px 3px;
}

.hover-effect {
    transition: all 0.2s ease;
}

.hover-effect:hover {
    transition: all 0.2s ease;
    box-shadow: rgba(50, 50, 50, 0.2) 0px 0px 0px 3px;
}

.focus-effect {
    transition: all 0.2s ease;
}

.focus-effect:focus {
    transition: all 0.2s ease;
    box-shadow: rgba(50, 50, 50, 0.2) 0px 0px 0px 3px;
}

/* Fin de sombras */

/* Configuracion de grosor de fuente */
.text-light {
    font-weight: lighter;
}

.text-bold {
    font-weight: bold;
}

.text-normal {
    font-weight: normal;
}
/* Fin configuraciones */

/* Configuracion / tamaño fuente de titulos y subtitulos */

h1 {
    font-size: 28px;
}

h2 {
    font-size: 24px;
}

h6 {
    font-weight: normal;
}

/* Fin de configuración */

/* Configuración / TOOLTIPS */
[data-content]:hover:before {
    background: #454444;
    border-radius: 3px;
    color: #DEC126;
    content: attr(data-content);
    font-size: 16px;
    margin-top: 6vh;
    padding: 5px;
    position: absolute;
}

/* [data-content]:hover:after {
    border-color: transparent transparent #454444 transparent;
    border-style: solid;
    border-width: 5px;
    content: " ";
    margin-left: -50px;
    margin-top: 4.5vh;
    position: absolute;
} */

/* Fin Configuración / TOOLTIPS */
.flatpickr-calendar {
  background: transparent;
  opacity: 0;
  display: none;
  text-align: center;
  visibility: hidden;
  padding: 0;
  -webkit-animation: none;
          animation: none;
  direction: ltr;
  border: 0;
  font-size: 14px;
  line-height: 24px;
  border-radius: 5px;
  position: absolute;
  width: 307.875px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  background: #fff;
  -webkit-box-shadow: 1px 0 0 #eee, -1px 0 0 #eee, 0 1px 0 #eee, 0 -1px 0 #eee, 0 3px 13px rgba(0,0,0,0.08);
          box-shadow: 1px 0 0 #eee, -1px 0 0 #eee, 0 1px 0 #eee, 0 -1px 0 #eee, 0 3px 13px rgba(0,0,0,0.08);
}
.flatpickr-calendar.open,
.flatpickr-calendar.inline {
  opacity: 1;
  max-height: 640px;
  visibility: visible;
}
.flatpickr-calendar.open {
  display: inline-block;
  z-index: 99999;
}
.flatpickr-calendar.animate.open {
  -webkit-animation: fpFadeInDown 300ms cubic-bezier(0.23, 1, 0.32, 1);
          animation: fpFadeInDown 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.flatpickr-calendar.inline {
  display: block;
  position: relative;
  top: 2px;
}
.flatpickr-calendar.static {
  position: absolute;
  top: calc(100% + 2px);
}
.flatpickr-calendar.static.open {
  z-index: 999;
  display: block;
}
.flatpickr-calendar.multiMonth .flatpickr-days .dayContainer:nth-child(n+1) .flatpickr-day.inRange:nth-child(7n+7) {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}
.flatpickr-calendar.multiMonth .flatpickr-days .dayContainer:nth-child(n+2) .flatpickr-day.inRange:nth-child(7n+1) {
  -webkit-box-shadow: -2px 0 0 #e6e6e6, 5px 0 0 #e6e6e6;
          box-shadow: -2px 0 0 #e6e6e6, 5px 0 0 #e6e6e6;
}
.flatpickr-calendar .hasWeeks .dayContainer,
.flatpickr-calendar .hasTime .dayContainer {
  border-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.flatpickr-calendar .hasWeeks .dayContainer {
  border-left: 0;
}
.flatpickr-calendar.showTimeInput.hasTime .flatpickr-time {
  height: 40px;
  border-top: 1px solid #eee;
}
.flatpickr-calendar.noCalendar.hasTime .flatpickr-time {
  height: auto;
}
.flatpickr-calendar:before,
.flatpickr-calendar:after {
  position: absolute;
  display: block;
  pointer-events: none;
  border: solid transparent;
  content: '';
  height: 0;
  width: 0;
  left: 22px;
}
.flatpickr-calendar.rightMost:before,
.flatpickr-calendar.rightMost:after {
  left: auto;
  right: 22px;
}
.flatpickr-calendar:before {
  border-width: 5px;
  margin: 0 -5px;
}
.flatpickr-calendar:after {
  border-width: 4px;
  margin: 0 -4px;
}
.flatpickr-calendar.arrowTop:before,
.flatpickr-calendar.arrowTop:after {
  bottom: 100%;
}
.flatpickr-calendar.arrowTop:before {
  border-bottom-color: #eee;
}
.flatpickr-calendar.arrowTop:after {
  border-bottom-color: #fff;
}
.flatpickr-calendar.arrowBottom:before,
.flatpickr-calendar.arrowBottom:after {
  top: 100%;
}
.flatpickr-calendar.arrowBottom:before {
  border-top-color: #eee;
}
.flatpickr-calendar.arrowBottom:after {
  border-top-color: #fff;
}
.flatpickr-calendar:focus {
  outline: 0;
}
.flatpickr-wrapper {
  position: relative;
  display: inline-block;
}
.flatpickr-months {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.flatpickr-months .flatpickr-month {
  background: transparent;
  color: #3c3f40;
  fill: #3c3f40;
  height: 28px;
  line-height: 1;
  text-align: center;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow: hidden;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.flatpickr-months .flatpickr-prev-month,
.flatpickr-months .flatpickr-next-month {
  text-decoration: none;
  cursor: pointer;
  position: absolute;
  top: 0px;
  line-height: 16px;
  height: 28px;
  padding: 10px;
  z-index: 3;
  color: #3c3f40;
  fill: #3c3f40;
}
.flatpickr-months .flatpickr-prev-month.disabled,
.flatpickr-months .flatpickr-next-month.disabled {
  display: none;
}
.flatpickr-months .flatpickr-prev-month i,
.flatpickr-months .flatpickr-next-month i {
  position: relative;
}
.flatpickr-months .flatpickr-prev-month.flatpickr-prev-month,
.flatpickr-months .flatpickr-next-month.flatpickr-prev-month {
/*
      /*rtl:begin:ignore*/
/*
      */
  left: 0;
/*
      /*rtl:end:ignore*/
/*
      */
}
/*
      /*rtl:begin:ignore*/
/*
      /*rtl:end:ignore*/
.flatpickr-months .flatpickr-prev-month.flatpickr-next-month,
.flatpickr-months .flatpickr-next-month.flatpickr-next-month {
/*
      /*rtl:begin:ignore*/
/*
      */
  right: 0;
/*
      /*rtl:end:ignore*/
/*
      */
}
/*
      /*rtl:begin:ignore*/
/*
      /*rtl:end:ignore*/
.flatpickr-months .flatpickr-prev-month:hover,
.flatpickr-months .flatpickr-next-month:hover {
  color: #f64747;
}
.flatpickr-months .flatpickr-prev-month:hover svg,
.flatpickr-months .flatpickr-next-month:hover svg {
  fill: #f64747;
}
.flatpickr-months .flatpickr-prev-month svg,
.flatpickr-months .flatpickr-next-month svg {
  width: 14px;
  height: 14px;
}
.flatpickr-months .flatpickr-prev-month svg path,
.flatpickr-months .flatpickr-next-month svg path {
  -webkit-transition: fill 0.1s;
  transition: fill 0.1s;
  fill: inherit;
}
.numInputWrapper {
  position: relative;
  height: auto;
}
.numInputWrapper input,
.numInputWrapper span {
  display: inline-block;
}
.numInputWrapper input {
  width: 100%;
}
.numInputWrapper input::-ms-clear {
  display: none;
}
.numInputWrapper input::-webkit-outer-spin-button,
.numInputWrapper input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}
.numInputWrapper span {
  position: absolute;
  right: 0;
  width: 14px;
  padding: 0 4px 0 2px;
  height: 50%;
  line-height: 50%;
  opacity: 0;
  cursor: pointer;
  border: 1px solid rgba(64,72,72,0.15);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.numInputWrapper span:hover {
  background: rgba(0,0,0,0.1);
}
.numInputWrapper span:active {
  background: rgba(0,0,0,0.2);
}
.numInputWrapper span:after {
  display: block;
  content: "";
  position: absolute;
}
.numInputWrapper span.arrowUp {
  top: 0;
  border-bottom: 0;
}
.numInputWrapper span.arrowUp:after {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid rgba(64,72,72,0.6);
  top: 26%;
}
.numInputWrapper span.arrowDown {
  top: 50%;
}
.numInputWrapper span.arrowDown:after {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid rgba(64,72,72,0.6);
  top: 40%;
}
.numInputWrapper span svg {
  width: inherit;
  height: auto;
}
.numInputWrapper span svg path {
  fill: rgba(60,63,64,0.5);
}
.numInputWrapper:hover {
  background: rgba(0,0,0,0.05);
}
.numInputWrapper:hover span {
  opacity: 1;
}
.flatpickr-current-month {
  font-size: 135%;
  line-height: inherit;
  font-weight: 300;
  color: inherit;
  position: absolute;
  width: 75%;
  left: 12.5%;
  padding: 6.16px 0 0 0;
  line-height: 1;
  height: 28px;
  display: inline-block;
  text-align: center;
  -webkit-transform: translate3d(0px, 0px, 0px);
          transform: translate3d(0px, 0px, 0px);
}
.flatpickr-current-month span.cur-month {
  font-family: inherit;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  margin-left: 0.5ch;
  padding: 0;
}
.flatpickr-current-month span.cur-month:hover {
  background: rgba(0,0,0,0.05);
}
.flatpickr-current-month .numInputWrapper {
  width: 6ch;
  width: 7ch\0;
  display: inline-block;
}
.flatpickr-current-month .numInputWrapper span.arrowUp:after {
  border-bottom-color: #3c3f40;
}
.flatpickr-current-month .numInputWrapper span.arrowDown:after {
  border-top-color: #3c3f40;
}
.flatpickr-current-month input.cur-year {
  background: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  cursor: text;
  padding: 0 0 0 0.5ch;
  margin: 0;
  display: inline-block;
  font-size: inherit;
  font-family: inherit;
  font-weight: 300;
  line-height: inherit;
  height: auto;
  border: 0;
  border-radius: 0;
  vertical-align: initial;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
.flatpickr-current-month input.cur-year:focus {
  outline: 0;
}
.flatpickr-current-month input.cur-year[disabled],
.flatpickr-current-month input.cur-year[disabled]:hover {
  font-size: 100%;
  color: rgba(60,63,64,0.5);
  background: transparent;
  pointer-events: none;
}
.flatpickr-weekdays {
  background: transparent;
  text-align: center;
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 28px;
}
.flatpickr-weekdays .flatpickr-weekdaycontainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
span.flatpickr-weekday {
  cursor: default;
  font-size: 90%;
  background: transparent;
  color: rgba(0,0,0,0.54);
  line-height: 1;
  margin: 0;
  text-align: center;
  display: block;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-weight: bolder;
}
.dayContainer,
.flatpickr-weeks {
  padding: 1px 0 0 0;
}
.flatpickr-days {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 307.875px;
}
.flatpickr-days:focus {
  outline: 0;
}
.dayContainer {
  padding: 0;
  outline: 0;
  text-align: left;
  width: 307.875px;
  min-width: 307.875px;
  max-width: 307.875px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-around;
          justify-content: space-around;
  -webkit-transform: translate3d(0px, 0px, 0px);
          transform: translate3d(0px, 0px, 0px);
  opacity: 1;
}
.dayContainer + .dayContainer {
  -webkit-box-shadow: -1px 0 0 #eee;
          box-shadow: -1px 0 0 #eee;
}
.flatpickr-day {
  background: none;
  border: 1px solid transparent;
  border-radius: 150px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #404848;
  cursor: pointer;
  font-weight: 400;
  width: 14.2857143%;
  -webkit-flex-basis: 14.2857143%;
      -ms-flex-preferred-size: 14.2857143%;
          flex-basis: 14.2857143%;
  max-width: 39px;
  height: 39px;
  line-height: 39px;
  margin: 0;
  display: inline-block;
  position: relative;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.flatpickr-day.inRange,
.flatpickr-day.prevMonthDay.inRange,
.flatpickr-day.nextMonthDay.inRange,
.flatpickr-day.today.inRange,
.flatpickr-day.prevMonthDay.today.inRange,
.flatpickr-day.nextMonthDay.today.inRange,
.flatpickr-day:hover,
.flatpickr-day.prevMonthDay:hover,
.flatpickr-day.nextMonthDay:hover,
.flatpickr-day:focus,
.flatpickr-day.prevMonthDay:focus,
.flatpickr-day.nextMonthDay:focus {
  cursor: pointer;
  outline: 0;
  background: #e9e9e9;
  border-color: #e9e9e9;
}
.flatpickr-day.today {
  border-color: #f64747;
}
.flatpickr-day.today:hover,
.flatpickr-day.today:focus {
  border-color: #f64747;
  background: #f64747;
  color: #fff;
}
.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected.inRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.selected:focus,
.flatpickr-day.startRange:focus,
.flatpickr-day.endRange:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.endRange.nextMonthDay {
  background: #4f99ff;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #fff;
  border-color: #4f99ff;
}
.flatpickr-day.selected.startRange,
.flatpickr-day.startRange.startRange,
.flatpickr-day.endRange.startRange {
  border-radius: 50px 0 0 50px;
}
.flatpickr-day.selected.endRange,
.flatpickr-day.startRange.endRange,
.flatpickr-day.endRange.endRange {
  border-radius: 0 50px 50px 0;
}
.flatpickr-day.selected.startRange + .endRange:not(:nth-child(7n+1)),
.flatpickr-day.startRange.startRange + .endRange:not(:nth-child(7n+1)),
.flatpickr-day.endRange.startRange + .endRange:not(:nth-child(7n+1)) {
  -webkit-box-shadow: -10px 0 0 #4f99ff;
          box-shadow: -10px 0 0 #4f99ff;
}
.flatpickr-day.selected.startRange.endRange,
.flatpickr-day.startRange.startRange.endRange,
.flatpickr-day.endRange.startRange.endRange {
  border-radius: 50px;
}
.flatpickr-day.inRange {
  border-radius: 0;
  -webkit-box-shadow: -5px 0 0 #e9e9e9, 5px 0 0 #e9e9e9;
          box-shadow: -5px 0 0 #e9e9e9, 5px 0 0 #e9e9e9;
}
.flatpickr-day.disabled,
.flatpickr-day.disabled:hover,
.flatpickr-day.prevMonthDay,
.flatpickr-day.nextMonthDay,
.flatpickr-day.notAllowed,
.flatpickr-day.notAllowed.prevMonthDay,
.flatpickr-day.notAllowed.nextMonthDay {
  color: rgba(64,72,72,0.3);
  background: transparent;
  border-color: #e9e9e9;
  cursor: default;
}
.flatpickr-day.disabled,
.flatpickr-day.disabled:hover {
  cursor: not-allowed;
  color: rgba(64,72,72,0.1);
}
.flatpickr-day.week.selected {
  border-radius: 0;
  -webkit-box-shadow: -5px 0 0 #4f99ff, 5px 0 0 #4f99ff;
          box-shadow: -5px 0 0 #4f99ff, 5px 0 0 #4f99ff;
}
.flatpickr-day.hidden {
  visibility: hidden;
}
.rangeMode .flatpickr-day {
  margin-top: 1px;
}
.flatpickr-weekwrapper {
  display: inline-block;
  float: left;
}
.flatpickr-weekwrapper .flatpickr-weeks {
  padding: 0 12px;
  -webkit-box-shadow: 1px 0 0 #eee;
          box-shadow: 1px 0 0 #eee;
}
.flatpickr-weekwrapper .flatpickr-weekday {
  float: none;
  width: 100%;
  line-height: 28px;
}
.flatpickr-weekwrapper span.flatpickr-day,
.flatpickr-weekwrapper span.flatpickr-day:hover {
  display: block;
  width: 100%;
  max-width: none;
  color: rgba(64,72,72,0.3);
  background: transparent;
  cursor: default;
  border: none;
}
.flatpickr-innerContainer {
  display: block;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}
.flatpickr-rContainer {
  display: inline-block;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.flatpickr-time {
  text-align: center;
  outline: 0;
  display: block;
  height: 0;
  line-height: 40px;
  max-height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.flatpickr-time:after {
  content: "";
  display: table;
  clear: both;
}
.flatpickr-time .numInputWrapper {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 40%;
  height: 40px;
  float: left;
}
.flatpickr-time .numInputWrapper span.arrowUp:after {
  border-bottom-color: #404848;
}
.flatpickr-time .numInputWrapper span.arrowDown:after {
  border-top-color: #404848;
}
.flatpickr-time.hasSeconds .numInputWrapper {
  width: 26%;
}
.flatpickr-time.time24hr .numInputWrapper {
  width: 49%;
}
.flatpickr-time input {
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0;
  border-radius: 0;
  text-align: center;
  margin: 0;
  padding: 0;
  height: inherit;
  line-height: inherit;
  color: #404848;
  font-size: 14px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
.flatpickr-time input.flatpickr-hour {
  font-weight: bold;
}
.flatpickr-time input.flatpickr-minute,
.flatpickr-time input.flatpickr-second {
  font-weight: 400;
}
.flatpickr-time input:focus {
  outline: 0;
  border: 0;
}
.flatpickr-time .flatpickr-time-separator,
.flatpickr-time .flatpickr-am-pm {
  height: inherit;
  display: inline-block;
  float: left;
  line-height: inherit;
  color: #404848;
  font-weight: bold;
  width: 2%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
}
.flatpickr-time .flatpickr-am-pm {
  outline: 0;
  width: 18%;
  cursor: pointer;
  text-align: center;
  font-weight: 400;
}
.flatpickr-time input:hover,
.flatpickr-time .flatpickr-am-pm:hover,
.flatpickr-time input:focus,
.flatpickr-time .flatpickr-am-pm:focus {
  background: #f1f1f1;
}
.flatpickr-input[readonly] {
  cursor: pointer;
}
@-webkit-keyframes fpFadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
            transform: translate3d(0, -20px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@keyframes fpFadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
            transform: translate3d(0, -20px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
.flatpickr-calendar {
  width: 307.875px;
}
.dayContainer {
  padding: 0;
  border-right: 0;
}
span.flatpickr-day,
span.flatpickr-day.prevMonthDay,
span.flatpickr-day.nextMonthDay {
  border-radius: 0 !important;
  border: 1px solid #e9e9e9;
  max-width: none;
  border-right-color: transparent;
}
span.flatpickr-day:nth-child(n+8),
span.flatpickr-day.prevMonthDay:nth-child(n+8),
span.flatpickr-day.nextMonthDay:nth-child(n+8) {
  border-top-color: transparent;
}
span.flatpickr-day:nth-child(7n-6),
span.flatpickr-day.prevMonthDay:nth-child(7n-6),
span.flatpickr-day.nextMonthDay:nth-child(7n-6) {
  border-left: 0;
}
span.flatpickr-day:nth-child(n+36),
span.flatpickr-day.prevMonthDay:nth-child(n+36),
span.flatpickr-day.nextMonthDay:nth-child(n+36) {
  border-bottom: 0;
}
span.flatpickr-day:nth-child(-n+7),
span.flatpickr-day.prevMonthDay:nth-child(-n+7),
span.flatpickr-day.nextMonthDay:nth-child(-n+7) {
  margin-top: 0;
}
span.flatpickr-day.today:not(.selected),
span.flatpickr-day.prevMonthDay.today:not(.selected),
span.flatpickr-day.nextMonthDay.today:not(.selected) {
  border-color: #e9e9e9;
  border-right-color: transparent;
  border-top-color: transparent;
  border-bottom-color: #f64747;
}
span.flatpickr-day.today:not(.selected):hover,
span.flatpickr-day.prevMonthDay.today:not(.selected):hover,
span.flatpickr-day.nextMonthDay.today:not(.selected):hover {
  border: 1px solid #f64747;
}
span.flatpickr-day.startRange,
span.flatpickr-day.prevMonthDay.startRange,
span.flatpickr-day.nextMonthDay.startRange,
span.flatpickr-day.endRange,
span.flatpickr-day.prevMonthDay.endRange,
span.flatpickr-day.nextMonthDay.endRange {
  border-color: #4f99ff;
}
span.flatpickr-day.today,
span.flatpickr-day.prevMonthDay.today,
span.flatpickr-day.nextMonthDay.today,
span.flatpickr-day.selected,
span.flatpickr-day.prevMonthDay.selected,
span.flatpickr-day.nextMonthDay.selected {
  z-index: 2;
}
.rangeMode .flatpickr-day {
  margin-top: -1px;
}
.flatpickr-weekwrapper .flatpickr-weeks {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.flatpickr-weekwrapper span.flatpickr-day {
  border: 0;
  margin: -1px 0 0 -1px;
}
.hasWeeks .flatpickr-days {
  border-right: 0;
}

input.input-search {
    background-color: #ffffff;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNC42ODUiIGhlaWdodD0iMjQuNjgzIiB2aWV3Qm94PSIwIDAgMjQuNjg1IDI0LjY4MyI+CiAgPHBhdGggaWQ9IlNlYXJjaCIgZD0iTTIzLjIyNywyNC42ODNhMS40NjUsMS40NjUsMCwwLDEtMS4wNTUtLjQ1MkwxNS40MiwxNy40NzZsLS4wMDYsMGE5LjQ3Myw5LjQ3MywwLDAsMS01LjY3OSwxLjg3M0g5LjdBOS43MTUsOS43MTUsMCwwLDEsMi44LDIuODEyLDkuNjU1LDkuNjU1LDAsMCwxLDkuNTg2LDBoLjA0MmE5Ljc1NSw5Ljc1NSwwLDAsMSw5LjcsOS43MTIsOS41LDkuNSwwLDAsMS0xLjg1Miw1LjdsNi43NTgsNi43NmExLjQ1NywxLjQ1NywwLDAsMS0xLDIuNTEzWk05LjYsMS45MzZBNy43MTQsNy43MTQsMCwwLDAsNC4yMTUsMTUuMTI4YTcuNzU4LDcuNzU4LDAsMCwwLDUuNDc2LDIuMjloLjAzQTcuNzQxLDcuNzQxLDAsMCwwLDkuNjM0LDEuOTM2WiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCAwKSIgZmlsbD0iIzhlOGU5MyIvPgo8L3N2Zz4K);
    background-repeat: no-repeat;
    background-size: 8%;
    background-position-x: 2%;
    background-position-y: center;
    border-radius: 5px;
    border: 2px solid #CCCCCC;
    padding: 8px;
    font-size: 18px;
    outline: none;
    padding-left: 30px;
}
/* Contenedor completo del modal */
.container_modal {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    transition: all 0.3s ease;
    opacity: 0;
    z-index: 1000;
}

/* Contenedor de la caja info del modal */
.container_modal .container_items {
    background-color: #FFF;
    border-radius: 5px;
    flex-direction: column;
    height: 300;
    padding: 15;
    transition: all 2s ease;
    width: 90%;
}

/* Cabecera del modal */
.container_modal .container_items .container_header_modal {
    display: flex;
    flex-direction: row;
    width: 100%;
}

/* Título del modal */
.container_modal .container_items .container_header_modal .title_modal {
    color: #2F3542;
    font-size: 24px;
    width: 50%;
}

/* Contenedor del icono de cierre para el modal */
.container_modal .container_items .container_header_modal .container_icon {
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

.container_modal .container_items .container_header_modal .container_icon:hover {
    cursor: pointer;
}

/* Contenedor body del modal */
.container_modal .container_items .container_body_modal {
    text-align: left;
}
/* Cabecera de la tabla */
div.table .table_header {
    border-bottom: 3px solid #979797;
    color: #2F3542;
    display: flex;
    flex-direction: row;
    font-size: 28px;
    justify-content: space-between;
    padding: 10px;
}

/* Configuración por filas */
div.table .table_body .table_row {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

div.table .table_body .table_row:nth-child(odd) {
    background-color: rgba(50, 50, 50, 0.1);
}

/* Filas con background */
div.table .table_body .table_row.interline {
    background: #D8D8D8;
}
/* Contenedor padre de todos los elementos */
div.container.inicio {
    margin: 10px;
}

/* Contenedor de titulo principal y buscador */
div.container.inicio div.container-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 4vw;
}

/* Contenedor Principal de los item */
div.container.inicio div.container-body {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* Representante de cada elemento */
div.container.inicio div.container-body a.container-body-grid {
    align-items: center;
    background: #FFF;
    border: #c8ccd6 1px solid;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    transition: all 0.2s ease;
    text-decoration: none;
    padding: 20px;
    margin: 20px 0;
    width: 25%;
}


/* Texto titulo de item */
div.container.inicio div.container-body a.container-body-grid h2 {
    text-align: center;
}

/* Estilos de imagen representativa de item */
div.container.inicio div.container-body a.container-body-grid img {
    height: 20vh;
    margin: 10px 0;
    max-width: 40%;
}

/* Breve descripción de los item */
div.container.inicio div.container-body a.container-body-grid p {
    font-size: 18px;
    text-align: center;
    max-width: 80%;
}
/* Conenedor del input y span */
div.content-input {
    display: flex;
    flex-direction: column;
}

/* Span, Placeholder */
div.content-input span {
    color: #4D4D4D;
    font-size: 16px;
}

/* Input, caja de entrada */
div.content-input input.text-input {
    background-color: #ffffff;
    border-radius: 5px;
    border: 2px solid #CCCCCC;
    padding: 8px;
    font-size: 18px;
    float: right;
    outline: none;
}

/* Input de flatpickr */
input.flatpickr-input{
    background-color: #ffffff;
    border-radius: 5px;
    border: 2px solid #CCCCCC;
    padding: 8px;
    font-size: 18px;
    float: right;
    outline: none;
}
/* Contenedor principal de perfiles y permiso */
div.container.perfiles-permisos {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

/* Panel izquierdo */
div.container.perfiles-permisos aside.panel-perfiles {
    background-color: #D8D8D8;
    border-right: 1px solid #979797;
    height: 100%;
    overflow: hidden;
    width: 30%;
}

/* Container de la lista de perfiles */
div.container.perfiles-permisos aside.panel-perfiles h2 {
    margin: 20px;
}


/* Container de la lista de perfiles */
div.container.perfiles-permisos aside.panel-perfiles div.list {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

/* Item de los perfiles */
div.container.perfiles-permisos aside.panel-perfiles div.list div.item {
    transition: all 0.2s ease;
    cursor: pointer;
    font-size: 24px;
    padding: 20px;
}

div.container.perfiles-permisos aside.panel-perfiles div.list div.item.active {
    background-color: rgba(250, 250, 250, 0.2);
    text-shadow: #2d2d2d 0px 0px 3px 0px;
    transform: scale(1.1) translateX(15px);
}

div.container.perfiles-permisos aside.panel-perfiles div.list div.item:hover {
    /* background-color: rgba(250, 250, 250, 0.2); */
    transform: scale(1.1) translateX(15px);
}


/* Estilos generales para los dos contenedores */
div.container.perfiles-permisos div.container-permisos {
    padding: 20px;
    flex: 1;
}

/* Contenedor de las lista de permisos y ventanas */
div.container.perfiles-permisos div.container-permisos div.content-data {
    background-color: #FFFFFF;
    border: 1px solid #707070;
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 5vh;
    min-height: 400px;
    width: 100%;
}

/* Borde derecho de la columna izquierda */
div.container.perfiles-permisos div.container-permisos div.content-data div.col:first-child {
    border-right: 1px solid #707070;
}

/* Buscador de ventanas */
div.container.perfiles-permisos div.container-permisos div.content-data div.col input {
    margin: 20px;
    /* width: 100%; */
}

/* Estilos de item de cada ventana */
div.container.perfiles-permisos div.container-permisos div.content-data div.col div.list-window div.item-window {
    cursor: pointer;
    font-size: 18px;
    padding: 10px 20px;
}

div.container.perfiles-permisos div.container-permisos div.content-data div.col div.list-window div.item-window:hover {
    background-color: #E5E7EA;
}

div.container.perfiles-permisos div.container-permisos div.content-data div.col div.list-window div.item-window.active {
    background-color: #E5E7EA;
    cursor: default;
}
/* Contenedor padre de todos los elementos */
div.container.consola {
    margin: 10px;
}

/* Contenedor de titulo principal y buscador */
div.container.consola div.container-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 4vw;
}

/* Contenedor Principal de los item */
div.container.consola div.container-body {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* Representante de cada elemento */
div.container.consola div.container-body a.container-body-grid {
    align-items: center;
    background: #FFF;
    border: #c8ccd6 1px solid;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-decoration: none;
    transition: all 0.2s ease;
    padding: 20px;
    margin: 20px 0;
    width: 25%;
}

/* Texto titulo de item */
div.container.consola div.container-body a.container-body-grid h2 {
    text-align: center;
}

/* Estilos de imagen representativa de item */
div.container.consola div.container-body a.container-body-grid img {
    margin: 10px 0;
    max-width: 40% !important;
}

/* Breve descripción de los item */
div.container.consola div.container-body a.container-body-grid p {
    font-size: 18px;
    text-align: center;
    max-width: 80%;
}
/* Boton principal */
button.btn, a.btn, button.btn.default, a.btn.default {
    background-color: #D8D8D8;
    border: 1px solid #979797;
    border-radius: 3px;
    color: #4D4D4D;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    padding: 8px 10px;
    outline: none;
}

/* Boton de error, cancelar */
button.btn.error, a.btn.error, button.btn.cancel, a.btn.cancel {
    background-color: #A23939 !important;
    color: #ffffff !important;
}

/* Boton de Warning, Suspender.. */
button.btn.warning, a.btn.warning, button.btn.danger, a.btn.danger {
    background-color: #F3D562 !important;
    color: #4D4D4D !important;
}

/* Boton Principal, aceptar, siguiente */
button.btn.accept, a.btn.accept, button.btn.succes, a.btn.succes, button.btn.primary, a.btn.primary  {
    background-color: #3E6099 !important;
    color: #FFFFFF !important;
}
.Menus {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-column-gap: 5px;
}

.Menus__agregar {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.Menus__arbol,
.Menus__arbol ul,
.Menus__arbol li {
    position: relative;
}

.Menus__arbol ul {
    list-style: none;
}

.Menus__arbol li::before,
.Menus__arbol li::after {
    content: '';
    position: absolute;
    left: -12px;
}

.Menus__arbol li::before {
    border-top: 2px solid #2F3542;
    top: 9px;
    width: 8px;
    height: 0;
}

.Menus__arbol li::after {
    border-left: 2px solid #2F3542;
    height: 100%;
    width: 0px;
    top: 2px;
}

.Menus__arbol ul>li:last-child::after {
    height: 8px;
}

.Menus__arbol-padre,
.Menus__arbol-hijo {
    margin-left: 20px;
}

.Menus__Items {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 10px 10px;
}

.Menus__list {
    border: 1px solid #979797;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.Menus__list .Menus__list-titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    color: #2F3542;
}

.Menus__list .Menus__list-titulo span img {
    width: 5px;
}

.Menus__list .Menus__list-titulo span img:hover {
    width: 7px;
}

.Menus__list .Menus__list-items {
    padding: 5px;
}

.Menus__list .Menus__list-items select {
    width: 100%;
    margin-top: 10px;
    margin: 0;
}

.Menus__list .Menus__list-items select option {
    padding: 0.5rem;
    font-size: 1rem;
}

/* .Menus__list .Menus__list-items select option img {
    display: none;
    width: 5px;
} */

/* .Menus__list .Menus__list-items select option:hover img {
    display: block;
} */

.Menus__list .Menus__list-items select option:hover {
    background: #ccc;
}

.Menus__list-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    margin-bottom: 10px;
}

.Menus__list .Menus__list-input input[type=text] {
    width: 100%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    box-sizing: border-box;
}

.Menus__list .Menus__list-items select::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: #F5F5F5;
}

.Menus__list .Menus__list-items select::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

.Menus__list .Menus__list-items select::-webkit-scrollbar-thumb {
    border-radius: 5px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #2F3542;
}

.Menus__arbol {
    background: #c1c1c1;
    height: 100vh;
}


.Menus__list-input button {
    margin-top: 20px;
}

/* @media (max-width: 768px) {
    .MenusContainer {
        grid-template-columns: 1fr 1fr;
    }

    .Menus__agregar {
        grid-template-columns: 1fr 1fr;
    }
} */
/* 
@media screen and (max-width: 480px) {
    .Menus {
        display: block;
    }

    .Menus__list {
        width: initial;
    }

    .Menus__agregar {
        display: initial;
    }
} */
.header-not-found {
    display: flex;
    align-items: flex-end;
}

.header-not-found span {
    font-size: 2em;
    font-weight: bold;
}

.header-not-found h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* Container padre */
div.container.logs {
    height: 100vh;
    padding: 20px 2.5vw;
}

/* Contenedor de titulo y buscador */
div.container.logs div.header-log {
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 20px;
}

/* Contenedor del cuerpo, fitros, tabla */
div.container.logs div.body-log {
    display: flex;
    flex-direction: column;
}

/* Contenedor de filtros */
div.container.logs div.body-log div.content-filter {
    background-color: #FFFFFF;
    padding: 10px;
    border: 2px solid #CCC;
}

/* Estilos header filtros, contiene el titulo secundario y el boton de aplicar */
div.container.logs div.body-log div.content-filter div.header-filter {
    align-items: center;
    border-bottom: 1px solid #CCC;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

/* Estilos del contenedor, este contiene los componentes para filtrar */
div.container.logs div.body-log div.content-filter div.body-filter {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}

/* Estilos de las columnas, contenedores de los componentes para filtrar */
div.container.logs div.body-log div.content-filter div.body-filter div.col {
    flex: 1;
    padding: 10px 20px;
}

div.container.logs div.body-log div.content-filter div.body-filter div.col span.titulo {
    margin-bottom: 20px;
    font-size: 18px;
}

/* Retocando los span e inputs */
div.container.logs div.body-log div.content-filter div.body-filter div.col div.row {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

/* div.container.logs div.body-log div.content-filter div.body-filter div.col div.row.multiple {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
} */

div.container.logs div.body-log div.content-filter div.body-filter div.col div.row span {
    color: #57606F;
    padding: 5px 0;
}
/* Contaner select */
.selection {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAAXNSR0IArs4c6QAAATFJREFUOBFjYBgFQy8EGGFOLigoMAKy+WB8ZPr///9/gPg7CDMzM38D0f/+/fsuLCz8raGh4Q9ILQtMA1DCjImJaTqMj0wzMjIygDAMgNhAAxk+fPiwESgWABJngkk+f/58NpB9BsYnRANd9fbv3785MHVwg1avXv0XaFMmUMFfmCQ+Gqi2ZPLkyU9gaphhDBB94sSJZ5aWlkJApgWyOBb2wQkTJhQgi8NdBBNkY2OrBbLfwPjoNNDFP4FhmYYujmFQV1fXZ6CiUnSFMD7QSx19fX23YHwYjWEQSALo7AVAm/fDFCHR54AB3I7EhzOxGgSVRQl4aCSkAgP4J1w3EgMlsJHEGU6ePPkWOeCBXpoMdOl8ZDXIbHwuYoAG/GOga578+vWrBlkjyWxg1gkAYUIaAe14c5wstEE1AAAAAElFTkSuQmCC);
    background-position: 100% center;
    background-repeat: no-repeat;
    border-bottom: 2px solid #CCC;
    cursor: pointer;
    transition: all 0.2s ease;
    padding: 10px 0px;
}

.selection:hover {
    border-color: #6d6d6d;
}

/* Configuracion de modal con todos los elementos */
.background-select {
    background-color: rgba(50, 50, 50, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    opacity: 0;
    transition: all 0.2s ease;
    width: 100vw;
    z-index: 200;
}

.background-select .content {
    color: #FFF;
    font-size: 1.5em;
    margin: auto;
}

.background-select .content .item {
    cursor: pointer;
    margin: 10px 0;
    transition: all 0.2s ease;
}

.background-select .content .item:hover {
    text-shadow: #2d2d2d 0px 0px 20px;
}
/* Contenedor padre de todos los elementos */
div.container.list {
    margin: 10px;
}

/* Contenedor de titulo principal y buscador */
div.container.list div.container-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 4vw;
}

/* Contenedor del INPUT CHECKBOX */
div.container.list div.container-header div.inputCheck {
    background: #D8D8D8;
    border: 1px solid #979797;
    border-radius: 5px;
    color: #2F3542;
}

/* Configuración del input checkbox */
div.container.list div.container-header div.inputCheck .inputCheckbox {
    display: none;
}

/* Configuración del texto del input */
div.container.list div.container-header div.inputCheck label {
    padding-left: 35px;
    padding-right: 35px;
    position: relative;
    top: 5px;
}

div.container.list div.container-header div.inputCheck label:hover {
    cursor: pointer;
}

/* Configuración del input nuevo */
div.container.list div.container-header div.inputCheck span {
    background: #fff;
    border: 2px solid #ccc;
    border-radius: 5px;
    display: inline-block;
    height: 18px;
    left: 15px;
    position: relative;
    top: 10px;
    width: 18px;
}

/* Configuración de la img que está dentro del check */
div.container.list div.container-header div.inputCheck .inputCheckbox:checked+span::before {
    background: transparent;
    border: 3px solid #333;
    border-right: none;
    border-top: none;
    content: '';
    height: 3px;
    left: 3px;
    opacity: 0.2;
    position: absolute;
    top: 5px;
    transform: rotate(-45deg);
    width: 10px;
}

/* Contenedor Principal de los item */
div.container.list div.container-body {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px 4vw;
}

div.container.list div.container-body .ul_body {
    background-color: #FFF;
    border: 1px solid #979797;
    list-style: none;
    overflow: hidden;
    width: 100%;
}

div.container.list div.container-body .ul_body .li_body {
    align-items: center;
    border-bottom: 1px solid #979797;
    display: flex;
    flex-direction: row;
    padding: 10px;
}

/* Contenedor del INPUT CHECKBOX */
div.container.list div.container-body .ul_body .li_body div.inputCheck {
    border: 1px solid #979797;
    border-radius: 5px;
    height: 19px;
    width: 20px;
}

/* Configuración del input checkbox */
div.container.list div.container-body .ul_body .li_body div.inputCheck .inputCheckbox {
    display: none;
}

/* Configuración del texto del input */
div.container.list div.container-body .ul_body .li_body div.inputCheck label {
    padding-left: 35px;
    padding-right: 35px;
    position: relative;
    top: 5px;
}

div.container.list div.container-body .ul_body .li_body div.inputCheck label:hover {
    cursor: pointer;
}

/* Configuración de la img que está dentro del check */
div.container.list div.container-body .ul_body .li_body div.inputCheck .inputCheckbox:checked+span::before {
    background-color: #D8D8D8;
    border: 2px solid #979797;
    border-radius: 100%;
    content: '';
    height: 10px;
    margin-left: 3px;
    margin-top: 2px;
    position: absolute;
    width: 10px;
}

/* Configuración del primer texto de la lista */
div.container.list div.container-body .ul_body .li_body .container_text .text_1 {
    color: #4D4D4D;
}

/* Configuración del segundo texto de la lista */
div.container.list div.container-body .ul_body .li_body .container_text .text_2 {
    color: #4D4D4D;
}

div.container.list div.container-body .ul_body .li_body .container_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10px;
    width: 100%;
}
